body{
    text-align: center;
    margin: 0;
    background-image: linear-gradient(to right, #ff0000, #ff3963, #ff6fa7, #fe9ed7, #ebc5ef, #e1c1f2, #d5bef6, #c6bbf9, #a795fe, #856eff, #5c44ff, #0000ff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculadora{
    max-width: 360px;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

#display{
    width: 100%;
    height: 56px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #e0e1dd;
    background-color: rgba(13,27,42,0.3);
    border: none;
    box-sizing: border-box;
}

.operator{
    color: #219ebc;
}
#ac{
    color:#bf4d5d;
}
.equal{
    width: calc(30% - 10px);
}

button{
    width: calc(25% -10px);
    height: 50px;
    font-size: 30px;
    margin: 10px 15px;
    border: none;
    border-radius: 5px;
    float: center;
    background-color: rgba(13,27,42);
    color: #e0e1dd;
   -webkit-box-shadow: -1px 1px 30px -5px rgba(0,0,0,0.2);
   -moz-box-shadow:  -1px 1px 30px -5px rgba(0,0,0,0.2);
   box-shadow:  -1px 1px 30px -5px rgba(0,0,0,0.2);
}